.card {
  box-shadow: 0px 8px 40px #16195E1F;
  border: 1px solid #D5D8EE;
  border-radius: 8px;
  display: flex;
  background: #FFF;
  max-height: 342px;
}
.card .generalDetailsContainer {
  flex: 1;
  padding: 14px;
  box-shadow: 5px 0px 12px #16195E1F;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .card .generalDetailsContainer {
    padding: 0px;
  }
}
.card .generalDetailsContainer .avatarContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.card .generalDetailsContainer .avatarContainer .name {
  font-size: 24px;
  color: #0D0736;
  padding-top: 10px;
}
.card .generalDetailsContainer .details {
  padding: 20px;
  width: 100%;
}
.card .generalDetailsContainer .details .detail {
  display: flex;
  border-bottom: 2px solid #EDEFF8;
  justify-content: space-between;
  padding: 10px;
}
@media only screen and (min-width: 1200px) and (max-width: 1500px) {
  .card .generalDetailsContainer .details .detail {
    padding: 10px 0px;
  }
}
.card .generalDetailsContainer .details .detail .value {
  color: #0D0736;
}
.card .generalDetailsContainer .details .detail:last-child {
  border-bottom: unset;
}
.card .activityContainer {
  flex: 1;
  padding: 14px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.card .activityContainer .activityTitle {
  font-size: 24px;
  color: #0d0736;
  padding-bottom: 32px;
}
