.container {
  display: flex;
  padding: 0px 32px 32px 32px;
  flex-direction: column;
}
.container .characteristic {
  padding-bottom: 32px;
}
.container .characteristic .title {
  color: #0d0736;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 4px;
  display: flex;
}
.container .characteristic .infoIcon {
  padding-left: 4px;
  color: #6A6A85;
}
.container .characteristic .infoIcon:hover {
  color: #2B5CFF;
}
.container .characteristic .description {
  color: #6a6a85;
  padding-bottom: 8px;
}
.container .characteristic .label {
  color: #0d0736;
  font-size: 16px;
}
