.container {
  width: 100%;
  height: 200px;
  background: #FFF;
  border-radius: 24px;
  box-shadow: 0px 15px 40px #16195E1F;
  /* color: black; */
  padding: 82px 82px 42px 82px;
}
.container .slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 16px;
  /* Specified height */
  background: transparent linear-gradient(90deg, #f1466e 0%, #ffde00 47%, #13bc00 100%) 0% 0% no-repeat padding-box;
  border-radius: 20px;
  outline: none;
  /* Remove outline */
}
.container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  background: transparent;
  cursor: pointer;
  border: 8px solid #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 3px 8px #16195E57;
}
.container .slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  background: transparent;
  cursor: pointer;
  border: 8px solid #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 3px 8px #16195E57;
}
.container .markers {
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
}
.container .markers .separators {
  height: 8px;
  width: 1px;
  background-color: #d7d9e7;
}
.container .labelContainer {
  display: flex;
  justify-content: space-between;
  color: #0D0736;
  font-size: 18px;
  font-weight: 500;
}
.container .labelSmall {
  font-size: 14px;
}
.container .labelBottomButtons {
  font-size: 12px;
}
.mobileButtonsCont {
  display: flex;
}
.sliderContainer {
  flex: 1;
  padding-top: 7px;
}
.changeButton {
  width: 48px;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 15px 40px #16195e33;
  border: 1px solid #f2f4f9;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.changeButtonMinus {
  margin-right: 60px;
}
.changeButtonPlus {
  margin-left: 60px;
}
.small {
  padding: 53px 32px;
  height: 174px;
}
.mobile {
  box-shadow: unset;
  padding: 0px;
  height: fit-content;
  display: flex;
}
.bottomButtons {
  display: block;
}
.bottomButtonsContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.square {
  border-radius: 4px;
}
