.container {
  box-shadow: 0px 8px 40px #16195E1F;
  border: 1px solid #D5D8EE;
  border-radius: 8px;
  background: #FFF;
  flex: 1;
}
.container .header {
  height: 75px;
  box-shadow: 0px 15px 40px #16195E1F;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 32px;
}
.container .infoIcon {
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 20px;
}
.container .title {
  font-size: 24px;
  color: #0D0736;
}
.container .headerNoShadow {
  height: 75px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 32px;
}
.container .content {
  padding: 32px;
}
