.container {
  border: 1px solid #D5D8EE;
  border-radius: 8px;
  background: #F8F9FB;
  flex: 1;
  margin-bottom: 32px;
}
.container .header {
  height: 86px;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 1px solid #D5D8EE;
  justify-content: space-between;
}
.container .header .userContainer {
  display: flex;
  align-items: center;
}
.container .header .userContainer .userName {
  padding-left: 18px;
  font-size: 16px;
  font-weight: 600;
  color: #0D0736;
}
.container .header .date {
  font-size: 13px;
  color: #0D0736;
}
.container .content {
  padding: 24px 32px;
}
.container .content .readMore {
  text-align: right;
  cursor: pointer;
  color: #2B5CFF;
  font-size: 16px;
  font-weight: 500;
  padding-right: 17px;
}
