.container {
  min-height: 100vh;
  background: #FFF;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container .border1 {
  border: 2px solid #00cc8b1a;
  padding: 20px;
  border-radius: 50%;
  margin: 22px;
  margin-top: 200px;
}
.container .border1 .border2 {
  border: 2px solid #00cc8b66;
  padding: 20px;
  border-radius: 50%;
}
.container .border1 .border2 .border3 {
  border: 2px solid #00cc8bd1;
  padding: 20px 20px 13px 20px;
  border-radius: 50%;
}
.container .border1Mobile {
  margin-top: 100px;
}
.container .title {
  color: #0D0736;
  font-size: 72px;
  font-weight: bold;
  padding-bottom: 12px;
}
.container .titleMobile {
  font-size: 40px;
}
.container .description {
  font-size: 32px;
}
.container .descriptionMobile {
  text-align: center;
}
.container .descriptionMobileOnly {
  font-size: 24px;
}
